$white: #ffffff;
$black: #000000;

$purple: #6a158e;
$purple-input: #aca0f5;
$red: #ff0000;
$success: #21cf84;
$error: #f65555;
$dark_icon_color: #bbbccd;
$gray_dark: #5f5f5f;
$gray_light: #d1d1d1;
$border-color: #e8e8e8;
$place-holder-color: #cecece;
$box-shadow: #f5f5f5;
$title-shadow: #ececec;
$gray_bg: #ececec;
$clouds: #dadada;
$font_color: $gray_dark;
$font_color_gray_light: #d1d1d1;
$chart_color: rgb(52, 151, 253);
$gray_dots: #b3b3b3;
$active_dots: #7e7e7e;

$primary-color: #00ff46;
$primary-color2: #003aff;
$primary-color3: #ff00b9;
$primary-color4: #ffc600;

$border_radius: 1rem;
$rem_size: 62.5%;
$max_width_value: 120rem;
// $box_height: 8rem;
// $box_width: 60%;
